<ul>
  <li><%= @cat.name %></li>
  <li><%= @cat.age %></li>
  <li><%= @cat.color %></li>
  <li><%= @cat.sex %></li>
  <li><%= @cat.description %></li>
  <li><%= link_to 'Cat index', cats_url %></li>
</ul>
